// =============================================
// OVERWRITE IONIC
// =============================================
ion-view{
    color: #fff;
    background: linear-gradient(to bottom, #000, #666);
}
.title{
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
}

// =============================================
// CUSTOM
// =============================================
.txt-center{
    text-align: center;
}
.txt-decoration-none{
    text-decoration: none;
}
.slider-pager .slider-pager-page{
    color: #fff;
}
.logo-header{
    width: 100%;
    padding: 10px 20px;
}

// =============================================
// HOME
// =============================================
.logo-home{
    height: 88px;
    padding: 0 10px;
    background-color: #000;

    img{
    	margin-top: 20px;
    	width: 100%;
    }
}

.bg-content{
	background-color: #eee;
}
.slider {
    width: 100%;
    height: calc(100% - 365px);
}
.slide-text{
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
}
.slide-text.line1{
    padding: 15px 20px 0px;
}
.slide-text.line2{
    padding-left: 35px;
}
.fullscreen-image {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}
.fix-bottom{
    width: 100%;
    bottom: 0;
    z-index: 15;
    position: absolute;
}
.btn-block-home{
    display: block;
    text-align: center;
    color: white;
    padding: 17px 0;
    border-radius: 10px;
    border: 2px solid #fff;
    background: linear-gradient(to bottom, #555, #333);

    p{ margin: 0; }
    p:last-child{ text-transform: uppercase; font-size: 12px;}
}

// =============================================
// ABOUT
// =============================================
.bg-about{
    width: 100%;
    height: 200px;
    background: url('../images/bg-about.jpg') no-repeat center center;
    background-size: cover;

    img{
        width: 100%;
        padding: 10px 20px;
    }
}

// =============================================
// CONTACT
// =============================================
.item-form{

    input, textarea{
        color: #fff;
        margin-bottom: 5px;
        padding: 25px 10px;
        background-color: #000;
        border-radius: 5px;
        border: 2px solid #fff;
    }
    textarea{
        padding-top: 10px;
    }
}
.button-orange{
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0px 55px;
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
    background: linear-gradient(to bottom, #e36e12, #f9a61b);
}

// =============================================
// VIDEOS
// =============================================
video{
    border: 2px solid #fff;
}