@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\000034}}
ion-view {
  color: #fff;
  background: linear-gradient(to bottom, #000, #666);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\000038}}
.title {
  font-family: 'Arial Rounded MT Bold';
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000316}}
.txt-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000319}}
.txt-decoration-none {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000322}}
.slider-pager .slider-pager-page {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000325}}
.logo-header {
  width: 100%;
  padding: 10px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000333}}
.logo-home {
  height: 88px;
  padding: 0 10px;
  background-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000338}}
.logo-home img {
  margin-top: 20px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000344}}
.bg-content {
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000347}}
.slider {
  width: 100%;
  height: calc(100% - 365px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000351}}
.slide-text {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000358}}
.slide-text.line1 {
  padding: 15px 20px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000361}}
.slide-text.line2 {
  padding-left: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000364}}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000375}}
.fix-bottom {
  width: 100%;
  bottom: 0;
  z-index: 15;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000381}}
.btn-block-home {
  display: block;
  text-align: center;
  color: white;
  padding: 17px 0;
  border-radius: 10px;
  border: 2px solid #fff;
  background: linear-gradient(to bottom, #555, #333);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000390}}
.btn-block-home p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000391}}
.btn-block-home p:last-child {
  text-transform: uppercase;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\0000397}}
.bg-about {
  width: 100%;
  height: 200px;
  background: url("../images/bg-about.jpg") no-repeat center center;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\00003103}}
.bg-about img {
  width: 100%;
  padding: 10px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\00003114}}
.item-form input, .item-form textarea {
  color: #fff;
  margin-bottom: 5px;
  padding: 25px 10px;
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\00003122}}
.item-form textarea {
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\00003126}}
.button-orange {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0px 55px;
  font-family: 'Arial Rounded MT Bold';
  text-transform: uppercase;
  background: linear-gradient(to bottom, #e36e12, #f9a61b);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appEquestreTV\/app\/styles\/main\.scss}line{font-family:\00003139}}
video {
  border: 2px solid #fff;
}
