<ion-view title="Contato">
	<ion-content class="has-header padding">
		<img class="logo-header" src="images/logo.png" alt="Equestre TV">
		<form class="list" name="formcontact" novalidate ng-submit="vm.sendEmail()">
			<label class="item-form">
				<!-- <span class="input-label">Nome</span> -->
				<input type="text" ng-model="vm.formcontato.nome" placeholder="Nome" required>
			</label>
			<label class="item-form">
				<!-- <span class="input-label">E-mail</span> -->
				<input type="email" ng-model="vm.formcontato.email" placeholder="E-mail" required>
			</label>
			<label class="item-form">
				<!-- <span class="input-label">Assunto</span> -->
				<input type="text" ng-model="vm.formcontato.assunto" placeholder="Assunto" required>
			</label>
			<label class="item-form">
				<!-- <span class="input-label">Mensagem</span> -->
				<textarea placeholder="Mensagem" ng-model="vm.formcontato.mensagem" rows="6" required></textarea>
			</label>
			<div class="padding txt-center">
				<button class="button button-orange" ng-disabled="formcontact.$invalid"> Enviar </button>
			</div>
		</form>
	</ion-content>
</ion-view>
