<ion-view hide-nav-bar="true">
	<ion-content scroll="false">
		<div class="logo-home txt-center">
			<img src="images/logo.png" alt="Equestre TV">
		</div>
		<ion-slide-box show-pager="true" does-continue="true" auto-play="true">
			<ion-slide ng-repeat="image in vm.aImages" style="background: url({{image.src}}); background-size: cover;"> </ion-slide>
		</ion-slide-box>

		<div class="fix-bottom">
			<div class="row">
				<div class="col">
					<a href="#/sobre" class="txt-decoration-none">
						<div class="btn-block-home">
							<p><img src="images/icon1.png" alt="" height="58"></p>
							<p>Sobre</p>
						</div>
					</a>
				</div>
				<div class="col">
					<a href="" ng-click="vm.openLive()" class="txt-decoration-none">
						<div class="btn-block-home">
							<p><img src="images/icon2.png" alt="" height="58"></p>
							<p>Ao vivo</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#/videos" class="txt-decoration-none">
						<div class="btn-block-home">
							<p><img src="images/icon3.png" alt="" height="58"></p>
							<p>Vídeos</p>
						</div>
					</a>
				</div>
				<div class="col">
					<a href="#/contato" class="txt-decoration-none">
						<div class="btn-block-home">
							<p><img src="images/icon4.png" alt="" height="58"></p>
							<p>Contato</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>