<ion-view title="Sobre">
	<ion-content class="has-header" has-bouncing="false">
		<div class="bg-about">
			<img src="images/logo.png" alt="Equestre TV">
		</div>
		<div class="padding" ng-bind-html="vm.sobre"></div>
	</ion-content>
</ion-view>