<ion-view title="Vídeos">
	<ion-content class="has-header padding">
		<img class="logo-header" src="images/logo.png" alt="Equestre TV">
		<div class="list card">
		    <div class="item item-image">
		        <video autobuffer controls width="100%">
		            <source src="images/video-sample.mp4">
		        </video>
		    </div>
		    <!-- <div class="item assertive"> Start video </div> -->
		</div>
		<div class="list card">
		    <div class="item item-image">
		        <video autobuffer controls width="100%">
		            <source src="images/video-sample.mp4">
		        </video>
		    </div>
		    <!-- <div class="item assertive"> Start video </div> -->
		</div>
		<div class="list card">
		    <div class="item item-image">
		        <video autobuffer controls width="100%">
		            <source src="images/video-sample.mp4">
		        </video>
		    </div>
		    <!-- <div class="item assertive"> Start video </div> -->
		</div>
		<!-- <div class="list card">
		    <div class="item item-image">
		        <img src="images/img-video2.jpg">
		    </div>
		    <a class="item item-icon-left assertive" href="">
			    <i class="icon ion-play"></i>
			    Start video
		    </a>
		</div>
		<div class="list card">
		    <div class="item item-image">
		        <img src="images/img-video3.jpg">
		    </div>
		    <a class="item item-icon-left assertive" href="">
			    <i class="icon ion-play"></i>
			    Start video
		    </a>
		</div>
		<div class="list card">
		    <div class="item item-image">
		        <img src="images/img-video4.jpg">
		    </div>
		    <a class="item item-icon-left assertive" href="">
			    <i class="icon ion-play"></i>
			    Start video
		    </a>
		</div> -->
	</ion-content>
</ion-view>